<nav class="sidebar">
    <h2>Find out more</h2>
    <ul class="nav-menu">
        <li>
            <a href="/#what-is-solid">Learn about Solid</a>
        </li>
        <li> <a href="/use-solid">Use Solid</a>
            <ul class="nav-submenu">
                <li><a href="/use-solid#get-a-pod-and-a-webid">Pick an Identity Provider</a></li>
                <li><a href="/use-solid#get-a-pod-and-a-webid">Get a Pod</a></li>
                <li><a href="/use-solid/apps">Find apps</a></li>
                <li><a href="/faqs">Browse the FAQ</a></li>
            </ul>
        </li>
        <li>
            <a href="/for-developers">Make Solid</a>
            <ul class="nav-submenu">
                <li><a href="/for-developers/apps/">Build apps</a></li>
                <li><a href="/standardisation">Contribute to the standards</a></li>
            </ul>
        </li>
        <li>
            <a href="/for-enterprises">Build on Solid</a>
            <ul class="nav-submenu">
                <li><a href="/for-enterprises">Get advice</a></li>
                <li><a href="/for-developers/pod-server/">Host Pods</a></li>
                <!-- <li>Become an Identity Provider</li> -->
                <!-- <li>Find out more about the Solid architecture</li> -->
            </ul>
        </li>
        <li>
            Follow the Solid community
            <ul class="nav-submenu">
                <li><a href="/this-week-in-solid">Receive weekly update</a></li>
                <li><a href="https://forum.solidproject.org/">Get in touch with users and developers</a></li>
                <li><a href="/job-board">Seek/offer Solid jobs</a></li>
                <li><a href="/events">Attend/host events</a></li>
                <li><a href="/team">Meet the team facilitating Solid</a></li>
                <li><a href="/press">Solid in the press</a></li>
            </ul>
        </li>
    </ul>
</nav>
